name: frontend-ci

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  frontend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/email-client
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          cache-dependency-path: frontend/email-client/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
